<div class="py-10 lg:px-36">

    <div class="py-5">
        <h2 class="text-center py-2">
            ORDER STATUS
        </h2>

    </div>

    <div class="py-10 ">
        <app-address-card [address]="order.shippingAddress"/> 
    </div>

    <div class="space-y-5 py-5 pt-10 ">
        <ng-container *ngFor="let item of order.orderItems">
            <div class="rounded-sm p-5 lg:flex items-center justify-between  box">
                <div class="flex items-center">
                    <img class="w-20 h-20 object-cover object-top" [src]="item.product.imageUrl" alt="">
                    <div class="ml-5 space-y-2">
                        <p class="text-lg font-semibold">{{item.product.title}}</p>
                        <p class="opacity-50 text-xs font-semibold space-x-5">
                            <span>Color : {{item.product.color}}</span>
                            <span>Size : {{item.size}}</span>
                        </p>
                        <p>Seller : {{item.product.brand}} 
                           
                        </p>
                        <p class="text-green-400">Price: ₹{{item.product.discountedPrice}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>
