<div class="p-5 shadow-lg">

    <div class="flex items-center">
        <div class="w-[5rem] h-[5rem] lg:w-[9rem] lg:h-[9rem]">
            <img class="w-full h-full object-cover object-top" [src]="cartItem.product.imageUrl" alt="">

        </div>
        <div class="ml-5 space-y-1">
            <p class="font-semibold">
                {{cartItem.product.title}}
            </p>
            <p class="text-gray-500">
                Size : {{cartItem.size}},&nbsp;{{cartItem.product.color}}
                    
            </p>
            <p class="text-gray-500 mt-2">
                Seller : {{cartItem.product.brand}}
            </p>

            <div class="flex space-x-2 items-center pt-3">
                <p class="text-gray-500 line-through">₹{{cartItem.product.price}}</p>
                <p class="font-semibold text-lg">₹{{cartItem.product.discountedPrice}}</p>
                <p class="text-green-600 font-semibold">{{cartItem.product.discountPercent}}% Off</p>

            </div>

        </div>

    </div>
    <div *ngIf="showButton" class="flex items-center lg:space-x-10 pt-4 justify-between">
        <div class="flex items-center space-x-2">
    
            <div class="example-button-container">
                <button mat-mini-fab color="accent" (click)="updateCartItem(-1)" [disabled]="cartItem.quantity===1">
                    <mat-icon>remove</mat-icon>
                </button>
    
            </div>
            <span class="py-1 px-7 border border-gray-800 rounded-sm">
                {{cartItem.quantity}}
            </span>
            <div class="example-button-container">
                <button mat-mini-fab color="accent" (click)="updateCartItem(1)" [disabled]="false">
                    <mat-icon>add</mat-icon>
                </button>
    
            </div>
    
            
    
        </div>
        <button (click)="removeCartItem()" mat-stroked-button color="accent">Remove</button>
    
    </div>

</div>


