<div
  class="fixed top-0 z-50 right-0 left-0 bg-[#69f0ae] text-gray-800 "
>
  <div class="px-5 lg:px-20 h-16 flex items-center justify-between">
    <div class="flex items-center">
      <div class="mr-5">
        <img
          class="w-8"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPlqFmof7iYObAZxCLgKzGUoubtC9OIq0CXw&usqp=CAU"
          alt="Subhendu"
        />
      </div>

      <div class="">
        <div class="flex  items-center space-x-4">
          <a routerLink="/" class="text-gray-800 font-semibold text-lg"> HeavenHub </a>
          <div>
            <button
              class="open-button"
              (click)="openNavbarContent('men')"
              mat-button
            >
              Men
            </button>
          </div>
          <div>
            <button
              class="open-button"
              (click)="openNavbarContent('women')"
              mat-button
            >
              Women
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center">
      <button (click)="navigateTo('cart')" mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button (click)="handleOpenLoginModal()" *ngIf="!userProfile" mat-raised-button type="" color="acent">LOGIN</button>
      <div *ngIf="userProfile" class="ml-3 flex items-center">
        <div class="flex items-center space-x-5">
          <span class="font-bold text-lg">{{userProfile.firstName}}</span>
          <button mat-button [matMenuTriggerFor]="profileMenu">
            <img
              class="h-5 w-5"
              src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_640.png"
              alt=""
            />
          </button>
          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item (click)="navigateTo('account/orders')">Orders</button>
            <button (click)="handleLogOut()" mat-menu-item>Logout</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isNavbarContentOpen" class="absolute right-0 left-0 modal-container">
    <app-nav-content [selectedSection]="currentSection" />
  </div>
</div>



