<div class="container">
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img class="w-full h-full rounded-full" src="https://cdn.iconscout.com/icon/free/png-256/free-avatar-372-456324.png " alt="">

            </div>

        </div>
        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">Subhendukhatua</p>
                    <p class="opacity-70">Jan 21, 2024</p>
                </div>
                <div>
                    <app-star-rating/>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus non dolorem asperiores facere perspiciatis, delectus in rerum aspernatur ex ad dolor magnam dolorum. Quod eos distinctio voluptate maxime, itaque nostrum!</p>

            </div>

        </div>

    </div>

</div>
