
<div>

    <div>
        <app-main-carousel/>
    </div>
    <div>
        <app-product-slider title="Men's Jeans" [products]="menJeans"></app-product-slider>
        <app-product-slider title="Women's Gouns" [products]="womenGouns"></app-product-slider>
        <app-product-slider title="Lehenga Choli" [products]="lehengaCholi"></app-product-slider>
        <app-product-slider title="Men's Kurta" [products]="mensKurta"></app-product-slider>
        <app-product-slider title="Shoes" [products]="mensShoes"></app-product-slider>
    </div>

</div>
